.header-container {
    display: flex;
    background-color: lightgray;
    padding: .5rem;
    gap: 1rem;
    align-items: baseline
}

.link {
    background: none;
    border: none;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
}
