body {
    background: url("/assets/shmoke2.gif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1vh;
    background-color: black;
}

.nav-container {
    display: flex;
}

.nav-btn {
    color: white;
    border: none;
    background: none;
    font-size: .9rem;
    font-weight: 500;
    text-wrap: nowrap;
    transition: .2s ease;
    margin-right: 20px;
}

.nav-btn:hover, .home-btn:hover {
    transform: scale(1.1);
}

.home-btn {
    font-weight: 600;
    font-size: 2.25rem;
    transition: .2s ease;
}

.navigate {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
}

.dropdown {
    margin-left: auto;
    margin-right: 10px;
    display: none;
}
.btn {
    background: none;
    border: none;
}
.btn:hover {
    background: none;
}
.btn:focus {
    background: none;
}
.btn:active {
    background: none;
}

@media (max-width: 500px) {
    .navigate {
        display: none;
    }
    .dropdown {
        display: block;
    }
}

.social-media {
    display: flex;
    margin-left: auto;
    width: 250px;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
}

svg {
    fill: white;
    transition: .2s ease;
}

svg:hover {
    fill: grey;
    cursor: pointer;
}

.body-container {
    display: grid;
    justify-content: right;
}

.info-container {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 50vw;
    margin: 10vh;
    margin-top: 20vh;
    font-size: 1em;;
    padding: 2vh;
    animation: load 1s;
}

.intro {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 3vh;
}

.learning {
    background-color: black;
    margin-top: 40vh;
    padding: 40px;

}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 20vh;
    height: 20vh;
    margin: 50px;
    transition: .2s ease;
    border: none;
    background: none;
    color: white;
}

.box:hover {
    transform: scale(1.2);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: .5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* ---------------- REDUCED MOTION ---------------- */

@media(prefers-reduced-motion) {
    .hidden {
        opacity: 1;
        transition: none;
    }
}

.quote-container {
    display: grid;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
    color: white;
}

.quote {
    width: 50vw;
    font-size: 6vh;
    font-weight: 600;
    text-align: center;
}

.name {
    font-size: 3vh;
    font-weight: 600;
    text-align: right;
}

.footer {
    margin-top: auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    height: 60px;
}

/* ---------------- ABOUT PAGE ---------------- */


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.about-main {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1em;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.container1 {
    animation: load .8s ease;
}

.container2 {
    animation: load2 1.2s ease;
}

.image1 {
    width: 300px;
    float: left;
    margin: 20px;
    margin-top: 0px;
}

.image2 {
    width: 300px;
    float: right;
    margin: 20px;
    margin-top: 0px;
}

@media (max-width: 600px) {
    .image1 {
        float: none;
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }

    .image2 {
        float: none;
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
}

.title {
    text-align: center;
    margin: 20px;
}

/* ---------------- CONTACT PAGE ---------------- */

.contact-box {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    width: 70vw;
    max-width: 750px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

input {
    background-color: white;
    text-decoration: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    margin: 10px;
    font-size: .9rem;
}

form h3 {
    color: white;
    margin: auto;
    margin-top: 30px;
}

form h4 {
    color: white;
    font-size: 1rem;
    margin: 10px;
    margin-top: 30px;
}

form textarea {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    font-size: .9rem;
}

form button {
    margin: auto;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: rgb(85, 85, 85);
    color: white;
    font-weight: 600;
    font-size: 1em;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 10px;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 650px;
}

/* ---------------- THANKS PAGE ---------------- */

.thanks-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 60vw;
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    margin-top: 200px;
}

.thanks-container h1 {
    font-weight: 700;
}

.thanks-container p {
    margin-top: 20px;
}

/* ---------------- GALLERY PAGE ---------------- */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 5vw;
    row-gap: 50px;
    margin-top: 20px;
}

.gallery-container p {
    color: white;
    display: grid;
}

.image {
    display: flex;
    background-color: white;
    width: 25vw;
    aspect-ratio: 3/4;
}

.gallery-box {
    transition: .2s ease;
}

.gallery-box:has(.image:hover) {
    transform: scale(1.1);
}

.image:hover {
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.8);
}

@media (max-width: 1000px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .image {
        width: 35vw;
    }
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr); 
    }

    .image {
        width: 60vw;
    }
}

/* ---------------- KEYFRAMES ---------------- */

@keyframes load {
    0% {
        opacity: 0%;
        transform: translateY(-10%)
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes load2 {
    0% {
        opacity: 0%;
        transform: translateY(-10%)
    }

    33% {
        opacity: 0%;
        transform: translateY(-10%)
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}


/* {
    outline: 1px solid red;
  }